@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #0A0A0A;
  --color-surface-highlight: #111111;
  --color-border: #222222;
  --color-primary: #3b82f6;
  --color-success: #22c55e;

  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #71717a;

  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}